/* outer div */
.nsp_out {
  all: revert;
  position: fixed;
  top: 50%;
  box-shadow: 0 0 150px 0 #000;
  height: 10%;
  width: 100%;
  background: #f5f5f5;
  font-size: 70px;
  font-size: 4em;
  text-align: center;
  line-height: 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: 3px solid;
  border-bottom: 3px solid;
}

/* wpm deck */
.nsp_wdu {
  position: absolute;
  left: 1%;
  flex-direction: row;
  display: flex;
  align-items: center;
  top: 5%;
}

/* edit wpm box */
.nsp_wad {
  font-size: 10px;
  font-size: 0.25em;
  line-height: 10%;
  height: 50%;
  margin: 10px;
}

/* media control deck */
.nsp_mcl {
  position: absolute;
  right: 1%;
  flex-direction: row;
  display: flex;
  align-items: center;
  top: 5%;
}

/* button */
.nsp_btn {
  background: red;
  color: black;
  border: none;
  max-height: 30px;
  max-width: 30px;
  line-height: 30px;
  font-size: 10px;
  font-size: 0.25em;
}

/*left border*/
.nsp_bl {
  border-left: 1px solid black;
}

/* timer */
.nsp_tmr {
  position: absolute;
  right: 1%;
  flex-direction: row;
  display: flex;
  align-items: center;
  bottom: 25%;
  font-size: 10px;
  font-size: 0.25em;
  height: 5%;
  line-height: 1;
  color: black;
}

/* inner */
.nsp_inr {
  display: inline-block;
  transform: translate(8%);
  color: black;
}

/* slider start */
.nsp_sli {
  width: 100%;
  height: 4%;
  position: absolute;
  bottom: 0%;
}

input[type="range"].nsp_sli {
  width: 100%;
  margin: 8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"].nsp_sli::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  width: 100%;
  height: 9px;
  cursor: pointer;
}

input[type="range"].nsp_sli::-webkit-slider-thumb {
  margin-top: -8px;
  width: 34px;
  height: 25px;
  background: rgba(255, 0, 0, 0.4);
  border: none;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"].nsp_sli::-moz-range-track {
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  width: 100%;
  height: 9px;
  cursor: pointer;
}

input[type="range"].nsp_sli::-moz-range-thumb {
  width: 34px;
  height: 25px;
  background: rgba(255, 0, 0, 0.4);
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

input[type="range"].nsp_sli::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
  width: 100%;
  height: 9px;
  cursor: pointer;
}

input[type="range"].nsp_sli::-ms-thumb {
  width: 34px;
  height: 25px;
  background: rgba(255, 0, 0, 0.4);
  border: none;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
}

@supports (-ms-ime-align: auto) {
  input[type="range"].nsp_sli {
    margin: 0;
  }
}
